# Classification(Assignment)

In [9]:
import pandas as pd
data=pd.read_excel("C:/Users/USER/Downloads/iris.xls")

In [10]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    NaN  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
data.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

# Pre-Processing

In [35]:
SL=data.SL
SL_mean=round(SL.mean(),1)
SL_mean
SL.fillna(SL_mean,inplace=True)

In [36]:
SW=data.SW
SW_mean=round(SW.mean(),2)
SW_mean
SW.fillna(SW_mean,inplace=True)

In [37]:
PL=data.PL
PL_mean=round(PL.mean(),2)
PL_mean
PL.fillna(PL_mean,inplace=True)

In [38]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [40]:
data

           SL   SW    PL   PW Classification
0    5.100000  3.5  1.40  0.2              0
1    4.900000  3.0  1.40  0.2              0
2    5.855944  3.2  1.30  0.2              0
3    4.600000  3.1  1.50  0.2              0
4    5.000000  3.6  1.40  0.2              0
..        ...  ...   ...  ...            ...
145  6.700000  3.0  5.20  2.3              1
146  6.300000  2.5  5.00  1.9              1
147  6.500000  3.0  3.76  2.0              1
148  6.200000  3.4  5.40  2.3              1
149  5.900000  3.0  5.10  1.8              1

[150 rows x 5 columns]

In [60]:
data["Classification"]=data["Classification"].replace({"Iris-setosa":0,"Iris-virginica":1,"Iris-versicolor":2})

In [62]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [63]:
inde_fe=['SL', 'SW', 'PL', 'PW']

In [64]:
x=data[inde_fe]

In [65]:
y=data["Classification"]

In [66]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state = 123)

In [67]:
x_train
y_train

130    1
119    1
29     0
0      0
62     2
      ..
17     0
98     2
66     2
126    1
109    1
Name: Classification, Length: 120, dtype: int64

# Logistic Regression

In [74]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=5000)
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
y_pred

array([2, 1, 1, 2, 0, 1, 2, 2, 0, 2, 1, 0, 2, 1, 1, 1, 0, 0, 2, 0, 2, 2,
       0, 1, 0, 0, 0, 1, 1, 0], dtype=int64)

In [86]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
confusion_matrix(y_test, y_pred)
accuracy_score(y_test, y_pred)

0.9

# KNN

In [95]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_test,y_pred)

0.9333333333333333

# RandomForest

In [99]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.9666666666666667